html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(111, 191, 143, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  display: flex;
  font-family: "Orbitron", sans-serif;
  height: inherit;
  justify-content: center;
}

.calculator {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #000;
  padding: 24px 35px;
  position: relative;
  width: 450px;
  height: 600px;
}

.screen {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  color: #000;
  font-size: 64px;
  overflow: hidden;
  padding: 12px;
  text-align: right;
  margin-bottom: 32px;
  width: 100%;
}

.cal-button-row {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
  max-width: 100%;
}

.cal-button {
  flex-basis: 22%;
  height: 65px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.cal-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.cal-button:last-child {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #fff;
  background-color: #d71;
}

.cal-button:last-child:hover {
  opacity: 0.9;
  cursor: pointer;
}

.double {
  flex-basis: 48%;
}

.triple {
  flex-basis: 74%;
}

@media screen and (max-width: 600px) {
  .calculator {
    width: 400px;
    height: 600px;
  }

  .cal-button {
    flex-basis: 20%;
  }

  .double {
    flex-basis: 48%;
  }

  .triple {
    flex-basis: 74%;
  }
}

@media screen and (max-width: 400px) {
  .calculator {
    width: 300px;
    height: 600px;
  }

  .cal-button {
    flex-basis: 20%;
  }

  .double {
    flex-basis: 48%;
  }

  .triple {
    flex-basis: 74%;
  }
}
